/************************************************************
*                       amble
************************************************************/
@font-face {
    font-family: 'ambleregular';
    src: url('font/Amble/Amble-Regular-webfont.eot');
    src: url('font/Amble/fontAmble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/Amble/Amble-Regular-webfont.woff2') format('woff2'),
    url('font/Amble/Amble-Regular-webfont.woff') format('woff'),
    url('font/Amble/Amble-Regular-webfont.ttf') format('truetype'),
    url('font/Amble/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/************************************************************
*                       roboto
************************************************************/
@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto/Roboto-Regular-webfont.eot');
    src: url('font/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
    url('font/Roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('font/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('font/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
